Repository kubernetes-sigs/promo-tools, pull requests merged in 2022-10, with the labels that each got.

#609 Add an authenticated client to gcrane
  internal/legacy/dockerregistry/inventory.go
  internal/promoter/image/sign.go
Labels: kind/bug, cncf-cla: yes, approved, lgtm, size/S, release-note, sig/release, area/release-eng, area/artifacts

#638 Log timestamps of main image promotion steps
  promoter/image/promoter.go
Labels: kind/feature, cncf-cla: yes, approved, lgtm, size/S, release-note, sig/release, area/release-eng, area/artifacts

#641 Bump max parallel actions to 100
  internal/promoter/image/sign.go
Labels: cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/XS, sig/release, area/release-eng, area/artifacts

#640 Add logrus hook to show all timestamps and their diffs
  internal/legacy/cli/run.go
  internal/promoter/image/sign.go
  promoter/image/promoter.go
Labels: cncf-cla: yes, size/M, approved, lgtm, kind/cleanup, release-note, sig/release, area/release-eng, area/artifacts

#644 releng: Bump promoter to v3.4.6
  VERSION
  cloudbuild.yaml
  dependencies.yaml
  workspace_status.sh
Labels: cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/S, sig/release, area/release-eng, area/artifacts

#648 set useragent
  internal/legacy/dockerregistry/inventory.go
  internal/promoter/image/sign.go
  types/image/image.go
Labels: kind/feature, cncf-cla: yes, approved, lgtm, size/S, release-note, sig/release, area/release-eng, area/artifacts

#650 Use new `VerifyImages()` API
  go.mod
  go.sum
  internal/promoter/image/impl.go
  internal/promoter/image/sign.go
  promoter/image/promoter.go
Labels: kind/feature, cncf-cla: yes, size/L, release-note-none, approved, lgtm, sig/release, area/release-eng, area/artifacts

#657 Add prow diff option
  cmd/kpromo/cmd/cip/cip.go
  image/manifest/manifest.go
  internal/legacy/dockerregistry/checks.go
  internal/legacy/dockerregistry/inventory_test.go
  internal/legacy/dockerregistry/schema/manifest.go
  internal/legacy/dockerregistry/schema/manifest_test.go
  internal/legacy/remotemanifest/git.go
  internal/promoter/image/imagepromotion.go
  promoter/image/options/options.go
Labels: kind/feature, cncf-cla: yes, size/L, approved, lgtm, release-note, sig/release, area/release-eng, area/artifacts

#653 Reuse signer in `DefaultPromoterImplementation`
  go.mod
  go.sum
  internal/promoter/image/sign.go
Labels: cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/S, sig/release, area/release-eng, area/artifacts

#660 releng: Bump promoter to v3.4.7
  VERSION
  cloudbuild.yaml
  dependencies.yaml
  workspace_status.sh
Labels: cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/S, sig/release, area/release-eng, area/artifacts
