Repository kubernetes-sigs/promo-tools, pull requests merged in 2023-06, with the labels that each got.

#900 Increase recursive signing timeout
  internal/promoter/image/impl.go
  internal/promoter/image/sign.go
  internal/promoter/image/signcheck.go
Labels: cncf-cla: yes, approved, lgtm, kind/flake, size/S, release-note, sig/release, area/release-eng, area/artifacts

#889 Upgrade signing to use cosign v2
  cmd/kpromo/cmd/cip/cip.go
  cmd/kpromo/cmd/sigcheck/sigcheck.go
  go.mod
  go.sum
  internal/legacy/cli/run.go
  internal/promoter/image/impl.go
  internal/promoter/image/sign.go
  internal/promoter/image/signcheck.go
  promoter/image/promoter.go
  test-e2e/cip/e2e.go
Labels: kind/feature, cncf-cla: yes, approved, lgtm, size/XXL, release-note, sig/release, area/release-eng, area/artifacts

#905 update canary image to a newer one
  canary/images/sigstore/images.yaml
  canary/manifests/k8s-staging-bom/promoter-manifest.yaml
  canary/manifests/sigstore/promoter-manifest.yaml
Labels: cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/S, sig/release, area/release-eng, area/artifacts

#906 add SignCheckIdentityRegexp and SignCheckIssuerRegexp options
  cmd/kpromo/cmd/cip/cip.go
  cmd/kpromo/cmd/sigcheck/sigcheck.go
  internal/promoter/image/impl.go
  promoter/image/options/options.go
Labels: kind/bug, kind/feature, cncf-cla: yes, size/M, approved, lgtm, kind/cleanup, release-note, sig/release, area/release-eng, area/artifacts

#909 add debug log, will be removed
  internal/legacy/cli/run.go
Labels: kind/bug, cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/XS, sig/release, area/release-eng, area/artifacts

#910 update log for verifying the certificates flags
  internal/legacy/cli/run.go
Labels: cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/XS, sig/release, area/release-eng, area/artifacts

#918 Bump kpromo to v4.0.0
  VERSION
  cloudbuild.yaml
  dependencies.yaml
  workspace_status.sh
Labels: cncf-cla: yes, kind/documentation, release-note-none, approved, lgtm, size/S, sig/release, area/release-eng, area/artifacts

#920 Bump kpromo to 4.0.1
  VERSION
  cloudbuild.yaml
  dependencies.yaml
  workspace_status.sh
Labels: cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/S, sig/release, area/release-eng, area/artifacts

#928 Use production registry as sign identity
  cmd/kpromo/cmd/pr/pr.go
  go.mod
  go.sum
  image/consts/consts.go
  image/image.go
  internal/promoter/image/sign.go
  internal/promoter/image/sign_test.go
  internal/promoter/image/signcheck.go
Labels: kind/feature, cncf-cla: yes, size/L, approved, lgtm, release-note, sig/release, area/release-eng, area/artifacts

#930 Bump to v4.0.2
  VERSION
  cloudbuild.yaml
  dependencies.yaml
  workspace_status.sh
Labels: cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/S, sig/release, area/release-eng, area/artifacts

#936 Use target reference for deduplicating edges
  internal/promoter/image/sign.go
Labels: kind/bug, cncf-cla: yes, size/M, approved, lgtm, release-note, sig/release, area/release-eng, area/artifacts

#938 Bump to v4.0.3
  VERSION
  cloudbuild.yaml
  dependencies.yaml
  workspace_status.sh
Labels: cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/S, sig/release, area/release-eng, area/artifacts

#940 Include digest for normalized edges and bump to v4.0.4
  VERSION
  cloudbuild.yaml
  dependencies.yaml
  internal/promoter/image/sign.go
  workspace_status.sh
Labels: kind/bug, cncf-cla: yes, size/M, approved, lgtm, release-note, sig/release, area/release-eng, area/artifacts
