Repository kubernetes-sigs/promo-tools, pull requests merged in 2023-03, with the labels that each got.

#767 Signature Check: Check Expected Identity in Certificate
  cmd/kpromo/cmd/sigcheck/sigcheck.go
  internal/promoter/image/signcheck.go
  promoter/image/options/options.go
Labels: kind/feature, cncf-cla: yes, size/L, approved, lgtm, release-note, sig/release, area/release-eng, area/artifacts

#669 Change Production Registry Root URL
  image/image.go
Labels: cncf-cla: yes, approved, lgtm, kind/cleanup, size/XS, release-note, sig/release, area/release-eng, area/artifacts

#753 releng: Bump promoter to v3.5.0
  VERSION
  cloudbuild.yaml
  dependencies.yaml
  workspace_status.sh
Labels: kind/feature, cncf-cla: yes, approved, lgtm, size/S, release-note, sig/release, area/release-eng, area/artifacts

#770 cip: Expose signing concurrency as flags, default to 50
  cmd/kpromo/cmd/cip/cip.go
  internal/promoter/image/sign.go
  promoter/image/options/options.go
Labels: kind/feature, cncf-cla: yes, size/M, approved, lgtm, release-note, sig/release, area/release-eng, area/artifacts

#771 Rate limit crane.Copy() operations
  go.mod
  internal/legacy/dockerregistry/inventory.go
  internal/promoter/image/sign.go
  promoter/image/ratelimit/roundtripper.go
Labels: kind/feature, cncf-cla: yes, size/M, approved, lgtm, release-note, sig/release, area/release-eng, area/artifacts

#779 releng: Bump promoter to v3.5.1
  VERSION
  cloudbuild.yaml
  dependencies.yaml
  workspace_status.sh
Labels: kind/feature, cncf-cla: yes, approved, lgtm, size/S, release-note, sig/release, area/release-eng, area/artifacts

#780 inventory: Don't copy manifests to avoid allocation, bump ggcr
  internal/legacy/dockerregistry/inventory.go
Labels: cncf-cla: yes, release-note-none, approved, lgtm, kind/cleanup, size/XS, sig/release, area/release-eng, area/artifacts

#796 Remove dead checks in image promoter
  cmd/kpromo/cmd/cip/cip.go
  docs/checks.md
  internal/legacy/dockerregistry/checks.go
  internal/legacy/dockerregistry/checks_test.go
  internal/legacy/dockerregistry/inventory.go
  internal/legacy/dockerregistry/inventory_test.go
  internal/legacy/dockerregistry/types.go
  promoter/image/options/options.go
Labels: cncf-cla: yes, release-note-none, approved, lgtm, size/XL, ok-to-test, kind/cleanup, sig/release, area/release-eng, area/artifacts

#795 Remove dead code in image promoter
  internal/legacy/dockerregistry/inventory.go
  internal/legacy/dockerregistry/inventory_test.go
  internal/promoter/image/imagepromotion.go
  promoter/image/imagefakes/fake_promoter_implementation.go
  promoter/image/promoter.go
Labels: cncf-cla: yes, release-note-none, approved, lgtm, size/XL, ok-to-test, kind/cleanup, sig/release, area/release-eng, area/artifacts

#797 Change signature annotation to version
  internal/promoter/image/sign.go
  internal/promoter/image/signcheck.go
Labels: cncf-cla: yes, size/M, approved, lgtm, kind/cleanup, release-note, sig/release, area/release-eng, area/artifacts

#799 Remove --check-manifest-lists-from-snapshot flag
  cmd/kpromo/cmd/cip/cip.go
  internal/legacy/cli/run.go
  internal/legacy/dockerregistry/inventory.go
  internal/legacy/dockerregistry/registry/registry.go
  internal/promoter/image/impl.go
  promoter/image/imagefakes/fake_promoter_implementation.go
  promoter/image/options/options.go
  promoter/image/promoter.go
Labels: cncf-cla: yes, size/L, release-note-none, approved, lgtm, ok-to-test, kind/cleanup, sig/release, area/release-eng, area/artifacts

#803 Use throttler for HTTP calls
  internal/legacy/stream/http.go
Labels: cncf-cla: yes, release-note-none, approved, lgtm, ok-to-test, kind/cleanup, size/XS, sig/release, area/release-eng, area/artifacts
